<div class="container">
  <h2>Hive Section Editor</h2>
  <form (ngSubmit)="onSubmit()" #hiveSectionForm="ngForm">
    <div class="form-group" *ngIf="existed">
      <label for="id" id="idLabel">ID</label>
      <input
        type="text"
        class="form-control"
        id="id"
        aria-describedby="idLabel"
        [(ngModel)]="hiveSection.id"
        name="id"
        #id="ngModel"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="name" id="nameLabel">Hive Section Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="nameLabel"
        minlength="4"
        maxlength="60"
        required
        [(ngModel)]="hiveSection.name"
        name="name"
        #name="ngModel"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors.required">Hive Section Name is required.</div>
        <div *ngIf="name.errors.minlength">
          Hive Section Name must be at least 4 characters long.
        </div>
      </div>
      <label for="code" id="codeLabel">Hive Section Code</label>
      <input
        type="text"
        class="form-control"
        id="code"
        aria-describedby="codeLabel"
        minlength="5"
        maxlength="5"
        required
        [(ngModel)]="hiveSection.code"
        name="code"
        #code="ngModel"
      />
      <div
        *ngIf="code.invalid && (code.dirty || code.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="code.errors.required">Hive Section Code is required.</div>
        <div *ngIf="code.errors.minlength">
          Hive Section Code must be 5 characters long.
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="existed">
      <label for="lastUpdated" id="lastUpdatedLabel">Last Update</label>
      <input
        type="text"
        class="form-control"
        id="lastUpdated"
        aria-describedby="lastUpdatedLabel"
        required
        [(ngModel)]="hiveSection.lastUpdated"
        name="lastUpdated"
        #lastUpdated="ngModel"
        readonly
      />
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
      <div class="btn-group" role="group" aria-label="New group">
        <button (click)="onCancel()" type="button" class="btn btn-primary mr-2">
          Back
        </button>
        <button
          *ngIf="!existed"
          [disabled]="!hiveSectionForm.valid"
          type="submit"
          class="btn btn-primary mr-2"
        >
          Create
        </button>
        <button
          *ngIf="existed"
          [disabled]="!hiveSectionForm.valid"
          type="submit"
          class="btn btn-primary mr-2"
        >
          Save
        </button>
        <button
          *ngIf="existed && !hiveSection.isDeleted"
          (click)="onDelete()"
          type="button"
          class="btn btn-danger mr-2"
        >
          Delete
        </button>
        <button
          *ngIf="existed && hiveSection.isDeleted"
          (click)="onUndelete()"
          type="button"
          class="btn btn-primary mr-2"
        >
          Undelete
        </button>
        <button
          *ngIf="existed && hiveSection.isDeleted"
          (click)="onPurge()"
          type="button"
          class="btn btn-primary mr-2"
        >
          Purge
        </button>
      </div>
    </div>
  </form>
</div>
